body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 250px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.nav{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 32px;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    margin: 0;
    list-style: none;
    gap: 8px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}