*{

    margin: 0;

}
.header{

    background: #1f2937;

    height: 200px;

    display: flex;

    justify-content: space-between;

}

.header_logo{

    color: #F9FAF8;

    font-size: 24px;

    padding : 20px 200px;

}

.header_link{

    padding: 20px 200px;

}

.header_link ul{

    list-style-type: none;

    display: flex;

    align-items: center;

    gap: 30px;

    padding: 0 24px;

}

.header_link a{

    text-decoration: none;

    font-size: 18px;

    color: #E5E7EB;

}


